.footer-social {
  margin: 5% 0;
}

.social-links {
  margin-left: 91%;
  margin-right: 0;
  max-width: 70px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.infos {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
}

.infos-links {
  display: flex;
  gap: 5rem;
  margin: 0;
}

.infos-contato {
  width: 375px;
  margin: 0;
}
